<div>
  <!-- Title -->
  <label for="title">Title:</label>
  <input
    type="text"
    id="title"
    name="title"
    value="<%= book.title ? book.title : '' %>"
    class="form-control bg-gray-100 border border-gray-300 rounded-lg p-2 w-full"
    placeholder="Enter book title"
  />
  <!-- Authors -->
  <label for="authors">Author:</label>
  <select name="author">
    <% authors.forEach(author) => { %> <% if (author.id === book.author) { %>
    <option
      selected
      label="<%= author.name %>"
      value="<%= author.id%>"
    ></option>
    <% }else %>
    <option label="<%= author.name %>" value="<%= author.id%>"></option>
    <% } %> <% }) %>
  </select>
</div>
