<h2>Recently Added</h2>

<div>
  <% books.forEach(book => { %>
  <img height="150" src="<%=book.coverImagePath%>" alt="<%=book.title%>" />
  <h3><%=book.title%></h3>
  <p><%=book.author.name%></p>
  <p><%=book.publishDate%></p>
  <% }) %>
</div>
